body {
    text-align: center;
    background: #193549;
    color: #fff;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 1000;
    font-size: 50px;
}

:root {
    --base: #ffc600;
    --spacing: 10px;
    --blure:10px;
}

.img {
    width: 100vw;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
    color: var(--base);
}
.controls {
    margin-bottom: 50px;
}

.input {
    width: 100px;
}